h1, h2{
    text-align: center;
    margin: 10px;
    font-size: 2em;
}

.grid {
    width: 800px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    gap: 10px;
    background-color: #91f321;
    background-image: ('images/sample.jpg');
    border: 3px, solid, black;
    border-radius: 10px;
   }
   
