h1, h2{
    text-align: center;
    margin: 10px;
    font-size: 2em;
}

.grid {
    width: 800px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    gap: 10px;
    background-color: #91f321;
    background-image: url(images/backgroundd.jpg);
    border: 3px, solid, black;
    border-radius: 10px;
   }
   
.item{
    border: 5px;
    background-color:rgba(231, 157, 224, 0.5);
    text-align: center;
    padding: 20px;
    font-size:30px ;
}

